/*======================
import
=======================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*======================
変数
=======================*/

// カラー
$primary-color: #3E3E3E;
$contact-btn-color: #FFAA3B;

// フォント
$font-family: 'Montserrat', "游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;

// レスポンシブ
$breakPoints: (
    'sp': 'screen and (max-width: 767px)',
    'tab': 'screen and (max-width: 1200px)',
    'pc': 'screen and (max-width: 768px)'
);

@mixin mq($breakPoint: sp) {
    @media #{map-get($breakPoints,$breakPoint)} {
        @content;
    }
}

/*======================
共通
=======================*/

// 全体
body {
    line-height: 1.5;
    font-size: 18px;
    font-family: $font-family;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

// レイアウト
.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;

    @include mq('sp') {
        padding: 0 16px;
    }
}

.section {
    padding: 115px 0;

    @include mq('sp') {
        padding: 60px 0 40px;
    }
}

.mb60 {
    margin-bottom: 60px;
}

// 装飾
.section__title {
    font-size: 36px;
    color: $primary-color;

    @include mq('sp') {
        font-size: 30px;
    }
}

.section__title2 {
    color: $primary-color;
}

.bold {
    font-weight: 600;
}

// 位置
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.btn__wrap {
    text-align: center;
}

.btn {
    padding: 20px 80px;
    display: inline-block;
    border: 1px solid #707070;
    letter-spacing: 0.2em;
    transition: background-color .3s;

    &:hover {
        background: $primary-color;
        color: #fff;
    }

    @include mq('sp') {
        padding: 16px 100px;
    }
}

.contact__btn {
    padding: 16px 50px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
    background-color: $contact-btn-color;
    font-size: 16px;
    color: #fff;
    transition: background-color .3s;

    &:hover {
        background-color: #F18900;
    }

    @include mq('sp') {
        padding: 16px 32px;
    }
}

.contact-btn__wrap {

    @include mq('sp') {
        text-align: center;
    }
}

#wrapper {
    overflow: hidden;
}

/*======================
header
=======================*/

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 83px;
    line-height: 83px;
    background-color: rgba(255, 255, 255, 0.1);

    @include mq('sp') {
        height: 68px;
        line-height: 68px;
        background-color: #fff;
    }
}

.header__logo {
    display: none;

    @include mq('sp') {
        display: block;
        font-size: 23px;
        color: $primary-color;

        &.js-active {
            display: none;
        }
    }
}

.header__nav {
    width: 100%;
    height: 83px;

    @include mq('sp') {
        display: none;
    }
}

.header__list {
    display: flex;
    justify-content: center;
}

.header__list--item {
    height: 83px;
    line-height: 83px;
    font-size: 16px;

    & + & {
        margin-left: 40px;
    }
}

.header__list--link {
    position: relative;
    display: block;

    &:after {
        content: '';
        position: absolute;
        top: 55px;
        left: 0;
        transition: ease .2s;
        width: 0;
        height: 1px;
        background-color: $primary-color;
        opacity: 0;

        @include mq('sp') {
            content: none;
        }
    }
}

.header__list--link:hover:after {
    width: 100%;
    opacity: 1;
}

//toggle

.toggle-header__inner {
    display: none;

    @include mq('sp') {
        height: 68px;
        padding: 0 16px;
        display: flex;
        align-items: center;
    }
}

.toggle__wrap {
    width: 26px;
    height: 20px;
    margin-left: auto;
}

.toggle {
    position: relative;
    width: 26px;
    height: 20px;

    span {
        position: absolute;
        width: 100%;
        height: 4px;
        display: inline-block;
        border-radius: 10px;
        background-color: $primary-color;
        transition: .3s;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 8px;
        }


        &:nth-child(3) {
            bottom: 0;
        }
    }

    &.js-active {
        right: 300px;

        span {

                background-color: #fff;
    
                &:nth-child(1) {
                    top: 8px;
                    transform: rotate(-45deg);
                }
        
                &:nth-child(2) {
                    top: 8px;
                    opacity: 0;
                }
        
                &:nth-child(3) {
                    bottom: 8px;
                    transform: rotate(45deg);
                }
    
            }
        }
}

.toggle-back{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: #3E3E3E;
    opacity: 0.7;

    &.js-active {
        transform: translateX(0);
    }
}


.toggle-header__nav {
    position: fixed;
    top: 0;
    right:  0;
    transform: translateX(100%);
    width: 300px;
    height: 100%;
    background-color: #fff;
    transition: .3s;

    &.js-active {
        transform: translateX(0);
    }
}

.toggle-header__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggle-header__list--item {
    margin-bottom: 32px;
    line-height: 1.2;
    text-align: center;
}

/*======================
main
=======================*/

.main {
    background-color: #F3F3F3;
}

/*======================
mainvisual
=======================*/

.mainvisual {
    position: relative;
    padding-top: 50.6%;
    background-image: url(../img/mv@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include mq('sp') {
        padding-top: 178%;
        background-position: 22% 0;
    }
}

.mainvisual__contents {
    position: absolute;
    top: 58%;
    right: -1%;
    transform: translateY(-50%);
    width: 650px;

    @include mq('sp') {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
}

.mainvisual__contents--inner {
    padding: 0 40px 16px 0;

    @include mq('sp') {
        padding: 0 16px 0 ;
    }

    .btn__wrap {
        text-align: left;

        @include mq('sp') {
            text-align: center;
        }
    }

}

.mainvisual__message {
    margin-bottom: 40px;

    @include mq('sp') {
        margin-bottom: 22px;
    }
}

.mainvisual__message--title {
    margin-bottom: 40px;
    font-size: 32px;

    @include mq('sp') {
        margin-bottom: 32px;
        font-size: 24px;
    }
}

.mainvisual__message--text {
    line-height: 1.5555;
    letter-spacing: 0.025em;

    @include mq('sp') {
        font-size: 14px;
    }
}

/*======================
news
=======================*/

.news {
    position: relative;
    padding: 120px 0 110px;

    .section__title {
        margin-bottom: 60px;

        @include mq('sp') {
            margin-bottom: 15px;
        }
    }

    @include mq('sp') {
        margin-top: -40px;
        padding: 0 0 30px 0;
    }
}

.news__wrap {
    padding: 60px 60px 40px;
    box-shadow: 0 3px 12px rgba(62, 62, 62, 0.2);
    background-color: #fff;

    @include mq('sp') {
        padding: 35px 0;
    }
}

.news__inner {
    max-width: 1080px;
}

.news__list {
    margin-bottom: 40px;
}

.news__list--item {
    position: relative;
    border-top: 1px solid #CECDCD;

    &:last-child {
        border-bottom: 1px solid #CECDCD;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 43px;
        height: 46px;
        display: inline-block;
        background-image: url(../img/news-arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.news__list--link {
    display: flex;
    align-items: center;
    padding: 30px 0;
    transition: background-color .3s;

    &:hover {
        background-color: rgba(73, 115, 255, 0.1);
    }

    @include mq('sp') {
        padding: 12px;
        display: block;
    }
}

.news__data {
    min-width: 259px;
    margin-right: 40px;
    display: flex;
    align-items: center;

    @include mq('sp') {
        margin-right: 0;
        margin-bottom: 12px;
    }
}

.news__time {
    width: 98px;
    margin-right: 40px;
    display: block;

    @include mq('sp') {
        width: 76px;
        margin-right: 24px;
        font-size: 14px;
    }
}

.news__label {
    width: 121px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #3B69FF;
    font-size: 14px;
    letter-spacing: 0.025em;

    @include mq('sp') {
        width: 81px;
        height: 20px;
        line-height: 16px;
        font-size: 12px;
    }
}

.news__text {
    // 382px = time 98px + ラベル 121px + 余白 120px + アイコン 43px
    width: calc(100% -  382px);
    letter-spacing: 0.03em;

    @include mq('sp') {
        width: calc(100% - 55px);
        font-size: 14px;
    }
}

.more__btn {

    @include mq('sp') {
        min-width: 268px;
        text-align: center;
    }
}

/*======================
service
=======================*/

.service {
    position: relative;
    z-index: 0;
}

.service-title__wrap {
    padding: 60px 0 296px;
    background-color: $primary-color;

    .section__title {
        margin-bottom: 60px;
        color: #fff;
        line-height: 1.23;

        @include mq('sp') {
            margin-bottom: 40px;
        }
    }

    @include mq('sp') {
        padding: 40px 0 403px;
    }
}

.service__container {
    width: 100%;
    margin-top: -296px;

    @include mq('sp') {
        margin-top: -403px;
    }
}

.contents__inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;

    @include mq('sp') {
        padding: 0 16px;
    }
}

.service__list {
    padding: 55px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
    background-color: #fff;

    @include mq('sp') {
        padding: 40px 16px;
        display: block;
    }
}

.service__image--wrap {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    display: inline-flex;
    justify-content: center;
}

.service__content--title {
    margin-bottom: 20px;
    font-size: 20px;
}

.service__list--box {
    flex: 0 1 230px;
    text-align: center;

    @include mq('sp') {
        width: 100%;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.service__content--title {
    line-height: 1.4;
    letter-spacing: 0.23em;
}

.service__content--text {
    line-height: 1.72;
    text-align: left;
    font-size: 14px;
}

/*======================
results
=======================*/

.results__container {
    padding: 60px 0 55px 40px;
    background-color: #3E3E3E;

    @include mq('sp') {
        margin-left: 0;
        padding: 30px 0 30px 16px;
    }
}

.results__inner {
    padding-left: 40px;

    .section__title {
        margin-bottom: 60px;
        color: #fff;

        @include mq('sp') {
            margin-bottom: 30px;
            text-align: center;
        }
    }

    @include mq() {
        padding-left: 0;
    }
}

.results__wrap {
    margin-bottom: 23px;
}

.results__contents--wrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.results__contents {
    flex: 0 0 400px;

    @include mq('sp') {
        flex: 0 0 274px;
    }
}

.results__body {
    padding: 16px;
    background-color: #fff;

    @include mq('sp') {
        padding: 12px;
    }

}

.results__body--title {
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: 20px;

    @include mq('sp') {
        font-size: 14px;
    }
}

.results__body--text {
    font-size: 16px;

    @include mq('sp') {
        font-size: 12px;
        letter-spacing: 0.01px;
    }
}

.results-btn__wrap {
    text-align: left;

    @include mq('sp') {
        text-align: center;
    }
}

.results__btn {
    border: 1px solid #fff;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: $primary-color;
    }
}

.swipe-container {
    height: 230px;
}

.swiper-pagination {
    position: static !important;
    text-align: left !important;

    @include mq('sp') {
        text-align: center !important;
    }
}


.swiper-pagination-bullet {
    position: relative !important;
    width: 12px !important;
    height: 12px !important;
    margin-right: 16px !important;
    background: #fff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet {

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: 0;

    }

    &.js-is--active:before {
        opacity: 1;
    }
    
    &:focus {
        outline: none;
    }
}

/*======================
price
=======================*/

.price {
    position: relative;
    z-index: 0;
    padding-bottom: 105px;

    .section__title {
        color: $primary-color;
    }

    @include mq('sp') {
        padding-bottom: 40px;
    }
}

.price__title {
    margin-bottom: 60px;
    text-align: center;
    
    @include mq('sp') {
        margin-bottom: 40px;
    }
}

.price__table {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 27% auto;
    grid-template-rows: 61px 61px 61px;
    border: 1px solid #707070;

    @include mq('sp') {
        grid-template-rows: 55px 55px 55px;
    }
}

.price__table--title {
    padding: 16px 5px;
    text-align: center;
    background-color: $primary-color;
    color: #fff;
}

.border__bottom--white {
    border-bottom: 1px solid #fff;
}

.price__table--text {
    padding: 16px;
    background-color: #fff;
    color: $primary-color;
}

.border__bottom--gray {
    border-bottom: 1px solid #707070;
}

.price__caution {
    display: block;
    font-size: 12px;
}

/*======================
comments
=======================*/

.comments {
    position: relative;
    z-index: 0;
    padding: 0 0 120px 0;
    background-color: #F3F3F3;

    @include mq('sp') {
        padding: 0 0 40px 0;
    }
}

.comments__bg--black {
    position: absolute;
    bottom: 0;
    width: 76.5%;
    height: 576px;
    background-color: #3E3E3E;

    @include mq('tab') {
        width: 100%;
    }

    @include mq('sp') {
        height: 343px;
    }
}

.comments__inner {
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;

    @include mq('tab') {
        display: block;
    }

    @include mq('sp') {
        padding: 0 16px;
    }
}

.comments__message {
    flex: 0 0 55%;
    padding: 109px 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;

    .section__title {
        margin-bottom: 60px;

        @include mq('sp') {
            margin-bottom: 40px;
        }
    }

    @include mq('tab') {
        width: 100%;
    }

    @include mq('sp') {
        padding: 40px 20px;
    }
}

.comments__message--list {
    margin-bottom: 72px;
    display: flex;

    &:last-child {
        margin-bottom: 0;
    }

    @include mq('sp') {
        margin-bottom: 30px;
    }
}

.comments__message--image--box {
    margin-right: 32px;

    @include mq('sp') {
        margin-right: 20px;
    }
}

.comments__message--image--wrap {
    width: 100px;
    height: 100px;

    @include mq('sp') {
        width: 60px;
        height: 60px;
    }
}

.comments__message--text {
    font-size: 16px;

    @include mq('sp') {
        font-size: 14px;
    }
}

.comments__image--box {
    flex: 0 0 45%;

    @include mq('tab') {
        display: none;
    }
}

/*======================
qa
=======================*/

.qa {
    position: relative;
    z-index: 0;
    padding: 60px 0 128px;
    background-image: url(../img/qa-bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;

    .section__title {
        margin-bottom: 40px;
    }

    @include mq() {
        padding: 40px 0 60px;
    }
}

.qa__list {
    max-width: 612px;
    margin-left: auto;

    @include mq('sp') {
        max-width: 100%;
    }
}

.qa__item {
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 4px;
    background-color: #fff;

    &:last-child {
        margin: 0;
    }

    @include mq('sp') {
        margin-bottom: 24px;
    }
}

.qa__item--head {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.qa__head--icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: #3B69FF;
    color: #fff;
    font-size: 16px;
}

.accordion__icon {
    width: 17px;
    height: 16px;
    margin-left: auto;
    display: block;
    background-image: url(../img/plus.svg);
    background-position: center right;

    &.js-is--open {
        width: 17px;
        height: 3px;
        background-image: url(../img/minus.svg);
    }
}

.qa__head--title {
    letter-spacing: 0.03em;
    font-size: 16px;
}

.qa__item--answer {
    padding: 16px;
    border-radius: 4px;
    background-color: rgba(59, 105, 255, 0.2);
}

.qa__answer--text {
    line-height: 1.5;
    font-size: 16px;
}

/*======================
access
=======================*/

.access {
    position: relative;
    z-index: 0;
    margin-bottom: 120px;
    padding-bottom: 120px;

    @include mq('tab') {
        margin: 0;
        padding: 0;
    }
}

.access__box {
    width: 77%;
    padding: 120px 100px;
    background-color: $primary-color;

    @include mq('tab') {
        width: 100%;
        padding: 30px 16px;
    }
}

.access__content {

    .section__title {
        margin-bottom: 30px;
        color: #fff;
    }
}

.address {
    margin-bottom: 32px;
    color: #fff;

    @include mq('tab') {
        margin-bottom: 24px;
        font-size: 14px;
    }
}

.goggle-map--pc {
    position: absolute;
    bottom: 0;
    right: 40px;

    @include mq('tab') {
        display: none;
    }
}

.goggle-map--sp {
    display: none;

    @include mq('tab') {
        position: relative;
        width: 100%;
        margin-bottom: 24px;
        padding-top: 71%;
        display: block;

        & > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.goggle-btn__wrap {
    text-align: left;

    @include mq('tab') {
        padding: 0 2px;
        text-align: center;
    }
}

.goggle__btn {

    border: 1px solid #fff;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: $primary-color;
    }

    @include mq('tab') {
        width: 100%;
        padding: 16px 0;
    }
}

@include mq('tab') {
    width: 100%;
    padding: 40px 16px;
}

/*======================
contact
=======================*/

.contact {
    padding: 60px 0;
    background-image: url(../img/contact-bg@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include mq('sp') {
        padding: 40px 0;
    }
}

.contact__head {
    padding: 60px 10px;
    background-image: url(../img/contact1@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 12px 12px 0 0;
    text-align: center;

    .section__title {
        margin-bottom: 16px;
        color: #fff;
        line-height: 1;
    }

    @include mq('sp') {
        padding: 40px 16px;
    }
}

.contact__head--text {
    color: #fff;

    @include mq('sp') {
        display: inline-block;
        text-align: left;
        font-size: 14px;
    }
}

.contact__body {
    padding: 60px 120px 54px 70px;
    border-radius: 0 0 12px 12px;
    background-color: #fff;

    @include mq('sp') {
        padding: 35px 12px;
    }
}

.contact__list {
    max-width: 770px;
    margin: 0 auto;
    padding: 0  0 0 50px;

    @include mq('sp') {
        padding: 0;
    }
}

.contact__item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    @include mq('sp') {
        margin-bottom: 28px;
        display: block;
    }
}

.contact__item--title {
    margin-right: 60px;
    display: flex;
    flex: 0 0 128px;
    align-items: center;

    & > label {
        line-height: 1;
        font-size: 16px;

        @include mq('sp') {
        }
    }

    @include mq('sp') {
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.required__label {
    width: 40px;
    height: 16px;
    margin-left: 12px;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
    background-color: #FF4646;
    color: #fff;

    @include mq('sp') {
        margin-left: 20px;
    }
}

.contact__item--input {
    flex: 0 1 532px;

    & > input {
        width: 100%;
        height: 32px;
        display: block;
        padding: 3px 10px;
        font-size: 16px;
        border-bottom: 1px solid #B2B2B2;
        transition: border .3s , box-shadow .3s;

        &:hover {
            border-bottom: 1px solid rgba(73, 115, 255, 0.5);
            box-shadow: 0px 3px 3px -3px rgba(73, 115, 255, 0.5);
        }

        &:focus {
            border-bottom: 1px solid rgba(73, 115, 255, 0.5);
            box-shadow: 0px 3px 3px -3px rgba(73, 115, 255, 0.5);
        }

        @include mq('sp') {
        height: 19px;
        padding: 3px 0;
        font-size: 14px;
        }
    }

    @include mq('sp') {
        padding: 0;
    }
}

// select

.contact__select--wrap {
    position: relative;
    flex: 0 1 178px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #707070;

    &:after {
        content: '';
        position: absolute;
        top: 13px;
        right: 12px;
        transform: rotate(45deg);
        width: 8px;
        height: 8px;
        border: 2px solid $primary-color;
        border-top: none;
        border-left: none;
        pointer-events: none;
    }
}

.contact__select {
    width: 100%;
    padding: 0 12px;
    display: block;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow .3s;

    &:hover {
        box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
    }
}

//textarea

.contact__textarea {
    margin-bottom: 25px;

    @include mq('sp') {
        margin-bottom: 24px;
    }
}

.contact__textarea--label {
    margin-bottom: 8px;
    display: inline-block;
    font-size: 16px;

    @include mq('sp') {
        margin-bottom: 16px;
    }
}

.textarea {
    display: block;
    width: 100%;
    height: 200px;
    padding: 5px 10px;
    border: 1px solid #B2B2B2;
    resize: vertical;
    transition: .3s;

    &:hover {
        border: 1px solid #4973FF;
        box-shadow: 0px 0px 8px rgba(73, 115, 255, 0.5);
    }

    &:focus {
        border: 1px solid #4973FF;
        box-shadow: 0px 0px 8px rgba(73, 115, 255, 0.5);
    }

    @include mq('sp') {
        height: 160px;
    }
}

//radio
.radio__item {
    position: relative;

    & + & {
        margin-left: 40px;
    }
}

.radio__btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;

    & + span {
        position: relative;
        padding: 0 0 0 30px;
        display: inline-block;
        cursor: pointer;
        font-size: 16px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            left: 0;
            width: 12px;
            height: 12px;
            display: block;
            border-radius: 50%;
            border: 1px solid #707070;
            transition: .3s;
        }

        &:after {
            left: 3px;
            width: 6px;
            height: 6px;
            display: block;
            border-radius: 50%;
            background-color: #3B69FF;
            opacity: 0;
        }

        &:hover:before {
            border: 1px solid #3B69FF;
            box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
        }

        &:active:before {
            border: 1px solid #3B69FF;
            background-color: rgba(73, 115, 255, 0.1);
        }
    }

    &:checked {

        & + span {

            &:after {
                opacity: 1;
            }
        }
    }
}

//checkbox
.contact__checkbox {
    margin-bottom: 30px;
}

.checkbox__label {
    position: relative;
    font-size: 16px;
}

.checkbox__btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: block;
    opacity: 0;

    & + span {
        position: relative;
        padding: 0 0 0 40px;
        display: inline-block;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            display: block;
            border: 1px solid #707070;
            transition: .3s;
        }

        &:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 6px;
            transform: rotate(45deg);
            width: 8px;
            height: 16px;
            display: block;
            border: 2px solid #3B69FF;
            border-top: none;
            border-left: none;
            opacity: 0;
        }

        &:hover:before {
            border: 1px solid #3B69FF;
            box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
        }

        &:active:before {
            border: 1px solid #3B69FF;
            background-color: rgba(73, 115, 255, 0.1);
    }

    }

    &:checked + span {

        &:after {
            opacity: 1;
        }

        &:focus:after {
            background-color: rgba(73, 115, 255, 0.1);
            border: 1px solid #3B69FF;
        }
    }
}

.contact-submit__btn {
    @include mq('sp') {
        padding: 16px 50px;
    }
}

.submit-true,
.submit-false {
    display: none;
}

/*======================
footer
=======================*/

.footer {
    padding: 60px 40px;
    background-color: $primary-color;

    @include mq('sp') {
        padding: 40px 40px 50px;
    }
}

.footer__inner {
    max-width: 960px;
    margin: 0 auto;
}

.footer__body {
    display: flex;

    @include mq('sp') {
        display: block;
        text-align: center;
    }
}

.footer__nav {

    @include mq('sp') {
        margin-bottom: 25px;
    }
}

.footer__sns {
    margin-bottom: 40px;

    @include mq('sp') {
        margin-bottom: 42px;
    }
}

.footer__menu--list--item {
    letter-spacing: 0.03em;
    font-size: 16px;
    color: #fff;

    @include mq('sp') {
        font-size: 14px;
    }

    & + & {
        margin-top: 12px;

        @include mq('sp') {
            margin-top: 26px;
        }
    }
}

.footer__content {
    margin-left: auto;

    @include mq('sp') {
        margin: 0;
    }
}

.footer__logo {
    font-size: 40px;
    color: #E3E3E3;

    @include mq('sp') {
        margin-bottom: 12px;
        font-size: 32px;
    }
}

.sns__icon {
    display: inline-block;

    & + & {
        margin-left: 32px;
    }
}

.twitter,
.facebook {
    font-size: 2em;
    color: #E3E3E3;
    opacity: 0.6;
}

.copyright {
    display: block;
    text-align: right;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-size: 12px;
    color: #fff;
    opacity: 0.6;

    @include mq('sp') {
        text-align: center;
        color: #F3F3F3;
    }
}

/*======================
totop
=======================*/

.totop {
    position: fixed;
    right: 41px;
    bottom: 43px;

    @include mq('sp') {
        right: 16px;
        bottom: 16px;
    }
}